@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?41cbm1');
  src:  url('fonts/icomoon.eot?41cbm1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?41cbm1') format('truetype'),
    url('fonts/icomoon.woff?41cbm1') format('woff'),
    url('fonts/icomoon.svg?41cbm1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e903";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-make-group:before {
  content: "\ea58";
}
