BODY {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: grey;
	
	.my-container {
		position: relative;
		z-index: 2;
		
		.logo {
			display: block;
		    position: absolute;
		    left: 0;
		    top: 0;
		    height: 70px;
		
			H1 {
				line-height: normal;
			    display: block;
			    height: 100%;
			    margin: 0;
			    padding: 0;
			    font-size: 10px;
			    color: white;
			    
			    IMG {
			        margin: 15px 0 0 80px;
					height: 40px;
	    			width: auto;
	    			vertical-align: middle;
	    			cursor: pointer;
	    			
	    			-webkit-transition: All .5s ease;
				    -moz-transition: All .5s ease;
				    -o-transition: All .5s ease;
				    -ms-transition: All .5s ease;
				    transition: All .5s ease;
					
					&:hover {
						
						-webkit-transform: scale(1.05);
					    -moz-transform: scale(1.05);
					    -o-transform: scale(1.05);
					    -ms-transform: scale(1.05);	
		    			transform: scale(1.05);
					}		
	    		} /* IMG */
			} /* H1 */
		} /* .logo */
		
		NAV {
			display: block;
		    width: 100%;
		    text-align: right;
		    margin-top: 30px;
		    box-shadow: 1px 3px 5px #aaa;
		}

		UL {
			width: 80%;
			margin-bottom: 0 !important;
			padding: 0;
			
			LI {
				position: relative;
			    height: 70px;
			    padding: 0;
			    font-weight: normal;
			    display: inline-block;
			    cursor: pointer;
			    
			    &:hover {
			    	background: #ebf0f5;
			    }
				
				A {
					height: 70px;
				    display: block;
				    padding: 0 15px;
				    position: relative;
				    color: #002f4f;
				    line-height: 70px;
				    font-weight: bold;
				    font-size: 1.5rem;
				    text-transform: initial;
				    text-decoration: none;
				    
				    &:hover, &:active {
						color: #0046fe;
						text-decoration: none;
					}
				} /* A */
			} /* LI */
		}/* UL */
	}/* my-container */
	
	
	/* ------------------ Responsive ------------------ */
	.my-container {
	
		.toggle {
			 width: 100%;
			 padding: 10px 20px;
			 background: #3d3d3d;
			 text-align: right;
			 box-sizing: border-box;
			 color: #fff;
			 font-size: 20px;
			 display: none;
		}
	
		@media (max-width: 992px) {
			.logo {	   
			    IMG {
					height: 25px !important;
					margin-top: 10px !important;
			    	margin-left: 10px !important;
				}
			} 
		
			.toggle {
				background: white;
				display: block;
				
				SPAN {
					color: #0046fe
				}
			}
			
			NAV {
				margin-top: 0;
		
				UL {
					width: 100%;
					display: none;
					
					LI {
						display: block;
						text-align: left;
						border-bottom: 1px solid #d2d2d9;
						height: 60px;
						
						A {
							margin-left: 30px;
							height: 60px;
							line-height: 60px;
							font-weight: normal;
							color: #0025fe;
						}
				
						A:hover {
					        text-decoration: none;
					        border: 1px solid black;
					        outline-style: auto;
					        outline-color: yellow;
			   			 } /* A:hover */
					} /* LI */
				} /* UL */
				
				.active {
					display: block;
				}
			}/* NAV */
		} /* @media (max-width: 992px) */
	} /* my-container */
} /* BODY */





