html, body{
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
}


.one-page {
	z-index: 0;
	background-repeat: no-repeat;
    background-position: center center;
    background-color: #ece7e4;
    height: 500px;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-size: cover;
    
    .home-hang{
		max-width: 450px;    
		margin-top: 80px;
	
		H2 {
			font-size: 5rem;
		    line-height: 7rem;
		    font-weight: bold;
		    color: #0046fe;
		    display: inline;
		    
		    &.orange {
		    	display: inline;
		    	margin-top: 0;
		    	color: #fb471e;
		    }
		}
    } /* .home-hang */
    
    /* ------------------ Responsive ------------------ */
    
    @media (max-width: 992px) {
    	.home-hang H2 {
    		font-size: 4rem;
		    line-height: 6rem;
    	}
    } /* @media (max-width: 992px) */
    
    
} /* one-page */



