* {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

BODY {
	margin: 0;
}

P {
	margin-top: 0;
}

H2.name {
	text-align: center;
}

.bg-img {
	background-image: url('/cegid/cegid-app/img/slide-telescope.jpg'); 
	background-size: cover; 
	background-color: rgba(255, 255, 255, 0.5);


	.login-form-container {
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		
		IMG {
			width: 100px;
			height: 100px;
		}
		
		.error {
			margin-top: 50px;
			color: #fb471e;
			font-weight: bold;
			
			@media (max-width: 480px) {
				font-size: 0.8rem;
			}/* @media (max-width: 480px) */
		}
		
		FORM {
			display: block;
			margin-top: 25px;
			width: 300px;
			height: 250px;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			border-radius: 20px;
			box-shadow: 1px 5px 30px #aaa;
			
			@media (max-width: 480px) {
				width: 250px;
			}/* @media (max-width: 480px) */
			
			INPUT {
				display: block;
				margin: 20px auto 0;
				width: 70%;
				height: 20px;
				padding: 5px;
				border-style: none;
				border-radius: 5px;
				border: 1px solid #0025fe;
				text-align: center;
				
				&:first-of-type {
					margin-top: 40px;
				}
				
				&:focus {
					outline: none;
				}
				
				&.btn-submit {
					height: 30px;
					width: 150px;
					cursor: pointer;
					transition: .5s;
					border-radius: 10px;
					border: 1px solid;
					background-color: #fb471e;
					color: white;
					font-weight: bold;
					border: none;
				
					&:hover {
						background-color: #0025fe;
						-webkit-transform: scale(1.05);
				    	-moz-transform: scale(1.05);
				    	-o-transform: scale(1.05);
				    	-ms-transform: scale(1.05);	
	    				transform: scale(1.05);
					}
				}
			}/* INPUT */
		
			input:-webkit-autofill,
			input:-webkit-autofill:hover, 
			input:-webkit-autofill:focus, 
			input:-webkit-autofill:active  { 
 				-webkit-box-shadow: 0 0 0 30px white inset;
    		}
		}/* FORM */
	} /* .container-login-form */
} /* .login-form-container */

    /* ------------------ Responsive ------------------ */
   