IMG.photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
	padding-top: 30px;
}

.title-presentation {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	
	H3, H4 {
		text-align: center;
	}
	
	H4 {
		color: #0025fe;
		margin-bottom: 20px;
	}
} /* title-presentation */

.container-fluide {
	background: linear-gradient(#d7cdc4, white);
	
	&.presentation {
		background: #fb471e;
	}
	
	&.all-cards {
		background: white;
	}
}
	
.main-content {
	margin: 40px 0;

	.global-presentation {
		P {
			max-width: 800px;
			margin: 10px auto 0;
		    color: white;
		    text-align: center;
		    
		    &:first-child {
		    	margin-top: 0;
		    }
		}
	}

	.card-content {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
	  	justify-content: space-around;
	  	height: auto;
		
		.card {
			flex-basis: 250px;
			border: solid 1px #ccdaff;
			margin: 10px;
			height: 300px;
			cursor: pointer;
			transform-style: preserve-3d;
			transition: all 1s;	
			
			& .back {
				transform: rotateY(180deg);
				overflow: auto;
				visibility: hidden;
					
			}
			
			&:not(.flipped):hover {
				transform: rotateY(-10deg);
				box-shadow: 2px 2px 10px 0px #ccc;
			}

			&.flipped {
				transform: rotateY(-180deg);
				
				.back {
					transition-delay: 0.25s;	
					visibility: visible;
				}
			}

			
			FIGURE {
				position: absolute;
				padding: 10px;
				margin: 0;
				display: block;
				height: 100%;
				width: 100%;
				color: #0025fe;
				-moz-backface-visibility: hidden;
				backface-visibility: hidden;
				
				&:hover {
					color: white;
					background-color: #0025fe;
					
					.button {
    					color: #0025fe;
    					background-color: white;
    				}
				}
				
				H3 {
					text-align: center;
				}
				
				.icomoon {
					display: block;
    				text-align: center;
    				font-size: 7rem;
    				padding-top: 40px;
				
					&.icon-cogs:before {
						content: "\e995";
					}
				
					&.icon-office:before {
						content: "\e903";
					}
				
					&.icon-make-group:before {
						content: "\ea58";
					}
				}
				
				.button {
					display: block;
					margin: 40px auto;
					padding: 10px;
    				background-color: #0025fe;
    				color: white;
    				width: 100px;
    				text-align: center;
				}
				
			} /* FIGURE */
			
			H4 {
				text-align: center;
				font-weight: bold;
			}
			
		}
		
		.card-techno {
			flex: 1 0 250px;
		}
		
		.card-asi {
			flex: 2 0 250px;
		}
		
		.card-futur {
			flex: 1 0 250px;
		}
	}
}

