IMG.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  padding-top: 30px;
}
.title-presentation {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.title-presentation H3,
.title-presentation H4 {
  text-align: center;
}
.title-presentation H4 {
  color: #0025fe;
  margin-bottom: 20px;
}
/* title-presentation */
.container-fluide {
  background: linear-gradient(#d7cdc4, white);
}
.container-fluide.presentation {
  background: #fb471e;
}
.container-fluide.all-cards {
  background: white;
}
.main-content {
  margin: 40px 0;
}
.main-content .global-presentation P {
  max-width: 800px;
  margin: 10px auto 0;
  color: white;
  text-align: center;
}
.main-content .global-presentation P:first-child {
  margin-top: 0;
}
.main-content .card-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  height: auto;
}
.main-content .card-content .card {
  flex-basis: 250px;
  border: solid 1px #ccdaff;
  margin: 10px;
  height: 300px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 1s;
  /* FIGURE */
}
.main-content .card-content .card .back {
  transform: rotateY(180deg);
  overflow: auto;
  visibility: hidden;
}
.main-content .card-content .card:not(.flipped):hover {
  transform: rotateY(-10deg);
  box-shadow: 2px 2px 10px 0px #ccc;
}
.main-content .card-content .card.flipped {
  transform: rotateY(-180deg);
}
.main-content .card-content .card.flipped .back {
  transition-delay: 0.25s;
  visibility: visible;
}
.main-content .card-content .card FIGURE {
  position: absolute;
  padding: 10px;
  margin: 0;
  display: block;
  height: 100%;
  width: 100%;
  color: #0025fe;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.main-content .card-content .card FIGURE:hover {
  color: white;
  background-color: #0025fe;
}
.main-content .card-content .card FIGURE:hover .button {
  color: #0025fe;
  background-color: white;
}
.main-content .card-content .card FIGURE H3 {
  text-align: center;
}
.main-content .card-content .card FIGURE .icomoon {
  display: block;
  text-align: center;
  font-size: 7rem;
  padding-top: 40px;
}
.main-content .card-content .card FIGURE .icomoon.icon-cogs:before {
  content: "\e995";
}
.main-content .card-content .card FIGURE .icomoon.icon-office:before {
  content: "\e903";
}
.main-content .card-content .card FIGURE .icomoon.icon-make-group:before {
  content: "\ea58";
}
.main-content .card-content .card FIGURE .button {
  display: block;
  margin: 40px auto;
  padding: 10px;
  background-color: #0025fe;
  color: white;
  width: 100px;
  text-align: center;
}
.main-content .card-content .card H4 {
  text-align: center;
  font-weight: bold;
}
.main-content .card-content .card-techno {
  flex: 1 0 250px;
}
.main-content .card-content .card-asi {
  flex: 2 0 250px;
}
.main-content .card-content .card-futur {
  flex: 1 0 250px;
}
